<div [formGroup]="form">
  <label [attr.for]="question.key">{{question.label}}</label>

  <div [ngSwitch]="question.controlType">

    <input *ngSwitchCase="'string'" [formControlName]="question.key"
            [id]="question.key" [type]="question.controlType">

    <div [id]="question.key" *ngSwitchCase="'boolean'" >
      <input type="radio" value="true" [name]="question.key" [formControlName]="question.key" /> Yes
      <input type="radio" value="false" [name]="question.key" [formControlName]="question.key" /> No
    </div>
    <div [id]="question.key" *ngSwitchCase="'date'">
      <input [matDatepicker]="myDatepicker" [formControl]='question.key' >
            <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
    </div>

    <div *ngSwitchCase="'group'">
      <div *ngFor="let item of question.item">
        <label [attr.for]="item.linkId" >{{item.text}}</label>
        <div [ngSwitch]="item.type">
          <input *ngSwitchCase="'string'" [formControlName]="item.linkId"
          [id]="item.linkId" [type]="item.type">

          <div [id]="item.linkId" *ngSwitchCase="'boolean'" >
            <input type="radio" value="true" [name]="item.linkId" [formControlName]="item.linkId" /> Yes
            <input type="radio" value="false" [name]="item.linkId" [formControlName]="item.linkId" /> No
          </div>
          <div [id]="item.linkId" *ngSwitchCase="'date'">
            <input [matDatepicker]="myDatepicker" [formControlName]='item.linkId' >
                  <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #myDatepicker></mat-datepicker>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
</div>