<table>
    <thead>
      <tr>
        <th>
            <button
            (click)="queryPatients()"
            [disabled]="refresh_disabled"
            autocomplete="off"
            >
                Refresh
            </button>
        </th>
        <th>
            <input
            id='name'
            type="text"
            [formControl]='name'
            pattern='[a-zA-Z ]*'
            >
            <div *ngIf="name.errors?.pattern">
                Name can only have letters.
              </div>
        </th>
        <th></th>
        <th>
            <input [matDatepicker]="myDatepicker" [formControl]='birthdate' >
            <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
            <!-- <div *ngIf="birthdate.errors?.pattern">
                YYYY-MM-DD format please
              </div> -->
        </th>
      </tr>
      <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Gender</th>
        <th>Date of Birth</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let patient of Patients">
          <td>{{patient.id}}</td>
          <td>{{patient.name?patient.name:""}}</td>
          <td>{{patient.gender}}</td>
          <td>{{patient.dob}}</td>
        </tr>
    </tbody>
  </table>
  <footer>
    {{request_time | millisecondFormat}}
</footer>